html, body {
    margin: 0;
    padding: 0;
}

header { grid-area: header; }
main { grid-area: main; }
footer { grid-area: footer; }

body {
    display: grid;
    grid-template-areas: 'header'
                        'main'
                        'footer';
}

button {
    background-color: #00579c;
    color: #ffffff;
    border: none;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    padding: 0.5rem 1rem;
}

select {
    background-color: #ffffff;
    color: black;
    border-style: solid;
    border-color: #e2e2e2;
    border-radius: 5px;
}

/*se agrega max-width devido a que display: none no cambiaba con el uso de display: flex en min-width: 576*/
@media (max-width: 575px) {
    .menu {
        display: none;
    }
}

@media (min-width: 576px) {
    body {
        height: 100vh;
        display: grid;
        grid-template-areas: 'header main'
        'header main'
        'header main'
        'header main'
        'header main'
        'header main'
        'header main'
        'header main'
        'header main'
                            'footer main';
    }

    header, footer {
        text-align: center;
    }

    header {
        .brand {
            margin: 0 auto;
        }
        .menu_icon {
            display: none;
        }
    }

    footer {
        margin: 0;
    }

    .menu {   
        display: flex;
    }

}

header {
    background-color: #00579c;
    color: #ffffff;

    nav {
        display: flex;
        justify-content: space-between;
        height: fit-content;
        padding: 1rem;
    }

}

.menu {
    flex-direction: column;
    padding: 1rem;
    a {
        text-decoration: none;
        color: #ffffff;
    }
}

main, main .options, main .products{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    margin: 0;
    padding: 0;

    .options {
        background-color: #e2e2e2;
        width: 100%;
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 1rem;
            width: 100%;
            select {
                width: 90%;
                text-align: center;
            }
        }
    }

    .products {
        padding: 1rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        overflow: scroll;
        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            border-color: #e2e2e2;
            border-width: 1px;
            border-style: solid;
            border-radius: 5px;
            overflow: hidden;
            width: 40%;
            min-width: 350px;
            margin: 1rem;

            img {
                width: 100%;
            }

            button {
                margin-bottom: 1rem;
            }
        }
    }

    .pagination {
        display: inline-block;
        margin: 1rem;

        a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            border: 1px solid #e2e2e2;
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    padding: 1rem;
    background-color: #012f6b;

    i {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}